body{
    background: linear-gradient(to right,#6a11cb,#2575fc);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.main-container{
    background:white;
    width:900px;
    border-radius:20px;
    overflow:hidden;
    display:flex;
    box-shadow:0px 10px 25px rgba(0,0,0,0.3);
}

.image-section{
    width:50%;
    background:#f7f7f7;
    display:flex;
    justify-content:center;
    align-items:center;
}

.image-section img{
    width:80%;
}

.login-box{
    width:50%;
    padding:50px;
}

h1{
    color:#6a11cb;
    font-weight:bold;
}

h5{
    color:gray;
    margin-bottom:30px;
}