.topbar{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:35px;

}

.topbar-right{

display:flex;

align-items:center;

gap:20px;

}

.search-box{

display:flex;

align-items:center;

background:white;

padding:10px 15px;

border-radius:12px;

gap:10px;

box-shadow:0 3px 12px rgba(0,0,0,.08);

}

.search-box input{

border:none;

outline:none;

}

.notification-btn{

width:45px;

height:45px;

border:none;

background:white;

border-radius:50%;

box-shadow:0 3px 12px rgba(0,0,0,.08);

}

.profile-box{

display:flex;

align-items:center;

gap:12px;

background:white;

padding:10px 18px;

border-radius:15px;

box-shadow:0 3px 12px rgba(0,0,0,.08);

}

.profile-box img{

width:45px;

height:45px;

border-radius:50%;

object-fit:cover;

}